img{
    height: 400px;
    width: 400px;
}
html{
    text-align: center;
}
#black widow,#capam,#hulk,#thor,#ironman,#hawk{
    height: 400px;
    width: 400px;
}
#myCarousal{
    background-color: red;
}
myCarousal img{
    height: 300px;
    margin-top: 35px;
}